@import url(./scrollBars.css);
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

$black: rgb(16, 1, 20);
$pink: rgb(255, 20, 147);
$teal: rgb(17, 157, 164);
$purple: #5e2bff;
$yellow: #ffc857;
$silver: #c2c1c2;
$panelBg: #e4e4e4;
$white: #f2ffff;
$bw: 1px;
$border: $bw solid $black;
$shadow: 5px 5px rgba($pink, 0.5);

@font-face {
    font-family: 'Pixelated MS Sans Serif';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/ms_sans_serif.woff2) format('woff2');
}

@font-face {
    font-family: 'Pixelated MS Sans Serif';
    font-style: normal;
    font-weight: 700;
    src: url(./fonts/ms_sans_serif_bold.woff2) format('woff2');
}

body {
    @apply bg-base-200 min-h-screen text-xs text-base-300 overflow-y-scroll p-4;
    -webkit-font-smoothing: none;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    @apply text-secondary;
    &:hover {
        @apply underline text-accent;
    }
}

aside {
    @apply w-64;
}

header {
    @apply h-52 relative;
    h1 {
        @apply absolute text-base-200 top-0 left-4 font-normal;
        $fontSize: 5rem;
        z-index: 99;
        font-family: 'Knewave', serif;
        font-size: $fontSize;
        line-height: $fontSize;
        text-shadow: 5px 2px $purple, -8px -2px $pink;
        filter: drop-shadow(3px 3px $black) drop-shadow(-3px -3px $black)
            drop-shadow(1px -1px $black) drop-shadow(-2px 2px $black)
            drop-shadow(1px 1px $black)
            drop-shadow(5px 5px 5px rgba($black, 0.5));
    }
    h2,
    h3 {
        @apply z-10 absolute bg-base-200 w-fit right-0 border border-base-300 border-r-0;
        padding: 0.25rem 1rem 0.25rem 3rem;
        border-radius: 2rem 0 0 2rem;
    }
    a {
        @apply text-accent;
    }

    h2 {
        @apply bottom-12 text-2xl;
    }
    h3 {
        @apply bottom-4;
    }
    .bg {
        @apply bg-secondary border border-base-300 relative overflow-hidden w-full;
        $bgDrop: 2rem;
        top: $bgDrop;
        height: calc(100% - $bgDrop);
        &::before,
        &::after {
            @apply inset-0 absolute content-['_'];
        }
        &::before {
            $dot: radial-gradient(closest-side, #444, #fff 75%);
            $pattern: $dot 0 0 / 14px 14px, $dot 7px 7px / 14px 14px;
            background: $pattern,
                linear-gradient(45deg, #8c8c8c, #bbb 60%, #fff 80%);
            background-blend-mode: multiply;
            filter: contrast(50) blur(2px) contrast(25);
            mix-blend-mode: darken;
        }
        &::after {
            background-color: #3411a6;
            mix-blend-mode: lighten;
        }
    }
}

.container {
    @apply my-0 mx-auto w-full;
    max-width: 1024px;
}

.pageWrap {
    @apply flex gap-3 mt-2 mr-2;
}

.panel {
    @apply mb-4;
    box-shadow: $shadow;
    .title {
        @apply bg-secondary text-neutral mb-1;
        padding: 0.15rem 0.25rem;
        h3 {
            @apply text-xs;
            text-shadow: 1px 1px $purple;
        }
    }
    &.largeTitle {
        .title {
            @apply bg-accent;
            h3 {
                @apply text-sm uppercase;
                text-shadow: 1px 1px $pink;
            }
        }
    }
    .wrap {
        @apply border border-base-300 bg-neutral p-1;
    }
    .inner {
        @apply border border-base-300 p-1 bg-base-100 w-full;
    }
}

.centerOuter {
    @apply flex-grow;
}

nav {
    .panel .inner {
        @apply p-0;
    }
    ul {
        @apply divide-y divide-base-300;
        a {
            @apply block py-1 px-2;
        }
        .active {
            @apply bg-base-200 relative;
            &::after {
                @apply content-['_'] border-y border-base-300 absolute -top-px -bottom-px w-4;
                right: -5px;
            }
            a {
                @apply bg-base-200 text-accent translate-x-3;
                &:hover {
                    @apply text-base-300;
                }
            }
        }
    }
}
