@import url(./scrollBars.css);
@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
@font-face {
  font-family: "Pixelated MS Sans Serif";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/ms_sans_serif.woff2) format("woff2");
}
@font-face {
  font-family: "Pixelated MS Sans Serif";
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/ms_sans_serif_bold.woff2) format("woff2");
}
* {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #c2c1c2;
  font-size: 12px;
  -webkit-font-smoothing: none;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(16, 1, 20);
  overflow-y: scroll;
  padding: 1rem;
}

aside {
  width: 300px;
  z-index: 1;
  filter: drop-shadow(5px 5px rgba(17, 157, 164, 0.5));
}

header {
  height: 200px;
  position: relative;
}
header h1 {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 1rem;
  font-family: "Knewave", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  color: #c2c1c2;
  line-height: 5rem;
  text-shadow: 5px 2px #5e2bff, -8px -2px #ff1493;
  filter: drop-shadow(3px 3px rgb(16, 1, 20)) drop-shadow(-3px -3px rgb(16, 1, 20)) drop-shadow(1px -1px rgb(16, 1, 20)) drop-shadow(-2px 2px rgb(16, 1, 20)) drop-shadow(1px 1px rgb(16, 1, 20)) drop-shadow(5px 5px 5px rgba(16, 1, 20, 0.5));
}
header h2, header h3 {
  z-index: 10;
  position: relative;
  background-color: #c2c1c2;
  width: fit-content;
  padding: 0.15rem 1rem 0.15rem 3rem;
  position: absolute;
  right: 0;
  border: 1px solid rgb(16, 1, 20);
  border-right: none;
  border-radius: 1rem 0 0 1rem;
}
header h2 {
  bottom: 3rem;
  font-size: 1.5rem;
}
header h3 {
  bottom: 1rem;
}
header .bg {
  background-color: rgb(17, 157, 164);
  border: 1px solid rgb(16, 1, 20);
  position: relative;
  overflow: hidden;
  top: 2rem;
  height: calc(100% - 2rem);
  width: 100%;
}
header .bg::before, header .bg::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
header .bg::before {
  background: radial-gradient(closest-side, #444, #fff 75%) 0 0/14px 14px, radial-gradient(closest-side, #444, #fff 75%) 7px 7px/14px 14px, linear-gradient(45deg, #8c8c8c, #bbb 60%, #fff 80%);
  background-blend-mode: multiply;
  filter: contrast(50) blur(2px) contrast(25);
  mix-blend-mode: darken;
}
header .bg::after {
  background-color: #3411a6;
  mix-blend-mode: lighten;
}

.container {
  margin: 0 auto;
  width: fit-content;
}

.pageWrap {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.panel {
  z-index: 5;
  position: relative;
  margin-bottom: 1rem;
}
.panel .title {
  background-color: rgb(17, 157, 164);
  color: #e4e4e4;
  text-shadow: 1px 1px #5e2bff;
  padding: 0.15rem 0.25rem;
  margin-bottom: 0.25rem;
}
.panel .wrap {
  border: 1px solid rgb(16, 1, 20);
  background-color: #e4e4e4;
  padding: 3px;
}
.panel .inner {
  border: 1px solid rgb(16, 1, 20);
  padding: 3px;
  background-color: #f2ffff;
  width: 100%;
}
.panel.hasTabs {
  margin-top: -1px;
}

.panel.nav .title {
  background-color: #5e2bff;
  text-shadow: 1px 1px rgb(16, 1, 20);
}

.panelTabs {
  margin-top: 10px;
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.panelTabs .title {
  display: flex;
  transform: translateY(2px);
}
.panelTabs .title p {
  background-color: #e4e4e4;
  padding: 2px 5px;
  width: fit-content;
  border: 1px solid rgb(16, 1, 20);
  border-right: none;
  border-bottom: none;
  flex-grow: 1;
  padding: 0.25rem 0.5rem 0 0.25rem;
}
.panelTabs .title::after {
  background: linear-gradient(45deg, #e4e4e4 43.5%, rgb(16, 1, 20) 43.5%, rgb(16, 1, 20) calc(43.5% + 1px), transparent calc(43.5% + 1px));
}
.panelTabs .bottomTab {
  background-color: #e4e4e4;
  height: 1.5rem;
  flex-grow: 1;
  margin-top: -11px;
  border: 1px solid rgb(16, 1, 20);
  border-top: none;
  border-left: none;
  height: 21px;
  display: flex;
  max-width: 50%;
}
.panelTabs .bottomTab::before {
  background: linear-gradient(-135deg, #e4e4e4 40%, rgb(16, 1, 20) 40%, rgb(16, 1, 20) calc(40% + 1px), transparent calc(40% + 1px));
  left: -20px;
  position: absolute;
  height: 29px;
}
.panelTabs .title::after,
.panelTabs .bottomTab::before {
  min-height: 100%;
  width: 20px;
  display: block;
  position: relative;
  content: "";
}
.panelTabs .bottomInner {
  margin: 2px 4px 3px -22px;
  max-height: 100%;
  flex-grow: 1;
  z-index: 5;
  background-image: radial-gradient(circle at center, rgb(17, 157, 164) 50%, transparent 0);
  background-size: 5px 5px;
  background-repeat: round;
  position: relative;
  overflow: hidden;
}
.panelTabs .bottomInner::after {
  content: "";
  height: 15px;
  width: 13px;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(45deg, #e4e4e4 45%, transparent 45%);
}

.right {
  width: 200px;
}
.right .panel .titleBar {
  background-color: rgb(17, 157, 164);
  color: #f2ffff;
  padding: 0.15rem 0.25rem;
  margin-bottom: 0.2rem;
}
.right .panel .wrap {
  display: block;
}

.center {
  width: 500px;
  filter: drop-shadow(5px 5px rgba(17, 157, 164, 0.5));
}

.centerOuter {
  position: relative;
}
.centerOuter nav {
  position: absolute;
  height: 20px;
  top: -19px;
  left: 0.5rem;
  right: 0.5rem;
}
.centerOuter nav ul {
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
}
.centerOuter nav li {
  background-color: #c2c1c2;
  padding: 0.15rem 0.75rem;
  border: 1px solid rgb(16, 1, 20);
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}
.centerOuter nav li.active {
  background-color: #e4e4e4;
  z-index: 99;
}

/*# sourceMappingURL=style.css.map */
