@import url(./scrollBars.css);
@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
@font-face {
  font-family: "Pixelated MS Sans Serif";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/ms_sans_serif.woff2) format("woff2");
}
@font-face {
  font-family: "Pixelated MS Sans Serif";
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/ms_sans_serif_bold.woff2) format("woff2");
}
body {
  @apply bg-base-200 min-h-screen text-xs text-base-300 overflow-y-scroll p-4;
  -webkit-font-smoothing: none;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  @apply text-secondary;
}
a:hover {
  @apply underline text-accent;
}

aside {
  @apply w-64;
}

header {
  @apply h-52 relative;
}
header h1 {
  @apply absolute text-base-200 top-0 left-4 font-normal;
  z-index: 99;
  font-family: "Knewave", serif;
  font-size: 5rem;
  line-height: 5rem;
  text-shadow: 5px 2px #5e2bff, -8px -2px rgb(255, 20, 147);
  filter: drop-shadow(3px 3px rgb(16, 1, 20)) drop-shadow(-3px -3px rgb(16, 1, 20)) drop-shadow(1px -1px rgb(16, 1, 20)) drop-shadow(-2px 2px rgb(16, 1, 20)) drop-shadow(1px 1px rgb(16, 1, 20)) drop-shadow(5px 5px 5px rgba(16, 1, 20, 0.5));
}
header h2,
header h3 {
  @apply z-10 absolute bg-base-200 w-fit right-0 border border-base-300 border-r-0;
  padding: 0.25rem 1rem 0.25rem 3rem;
  border-radius: 2rem 0 0 2rem;
}
header a {
  @apply text-accent;
}
header h2 {
  @apply bottom-12 text-2xl;
}
header h3 {
  @apply bottom-4;
}
header .bg {
  @apply bg-secondary border border-base-300 relative overflow-hidden w-full;
  top: 2rem;
  height: calc(100% - 2rem);
}
header .bg::before, header .bg::after {
  @apply inset-0 absolute content-["_"];
}
header .bg::before {
  background: radial-gradient(closest-side, #444, #fff 75%) 0 0/14px 14px, radial-gradient(closest-side, #444, #fff 75%) 7px 7px/14px 14px, linear-gradient(45deg, #8c8c8c, #bbb 60%, #fff 80%);
  background-blend-mode: multiply;
  filter: contrast(50) blur(2px) contrast(25);
  mix-blend-mode: darken;
}
header .bg::after {
  background-color: #3411a6;
  mix-blend-mode: lighten;
}

.container {
  @apply my-0 mx-auto w-full;
  max-width: 1024px;
}

.pageWrap {
  @apply flex gap-3 mt-2 mr-2;
}

.panel {
  @apply mb-4;
  box-shadow: 5px 5px rgba(255, 20, 147, 0.5);
}
.panel .title {
  @apply bg-secondary text-neutral mb-1;
  padding: 0.15rem 0.25rem;
}
.panel .title h3 {
  @apply text-xs;
  text-shadow: 1px 1px #5e2bff;
}
.panel.largeTitle .title {
  @apply bg-accent;
}
.panel.largeTitle .title h3 {
  @apply text-sm uppercase;
  text-shadow: 1px 1px rgb(255, 20, 147);
}
.panel .wrap {
  @apply border border-base-300 bg-neutral p-1;
}
.panel .inner {
  @apply border border-base-300 p-1 bg-base-100 w-full;
}

.centerOuter {
  @apply flex-grow;
}

nav .panel .inner {
  @apply p-0;
}
nav ul {
  @apply divide-y divide-base-300;
}
nav ul a {
  @apply block py-1 px-2;
}
nav ul .active {
  @apply bg-base-200 relative;
}
nav ul .active::after {
  @apply content-["_"] border-y border-base-300 absolute -top-px -bottom-px w-4;
  right: -5px;
}
nav ul .active a {
  @apply bg-base-200 text-accent translate-x-3;
}
nav ul .active a:hover {
  @apply text-base-300;
}

/*# sourceMappingURL=style.css.map */
