@import url(./scrollBars.css);
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

$black: rgb(16, 1, 20);
$pink: #ff1493;
$teal: rgb(17, 157, 164);
$purple: #5e2bff;
$yellow: #ffc857;
$silver: #c2c1c2;
$panelBg: #e4e4e4;
$white: #f2ffff;
$bw: 1px;
$border: $bw solid $black;
$shadow: 5px 5px rgba($teal, 0.5);

@font-face {
    font-family: 'Pixelated MS Sans Serif';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/ms_sans_serif.woff2) format('woff2');
}

@font-face {
    font-family: 'Pixelated MS Sans Serif';
    font-style: normal;
    font-weight: 700;
    src: url(./fonts/ms_sans_serif_bold.woff2) format('woff2');
}

* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // border: 1px solid red;
}

body {
    background-color: $silver;
    font-size: 12px;
    -webkit-font-smoothing: none;
    font-family: Arial, Helvetica, sans-serif;
    color: $black;
    overflow-y: scroll;
    padding: 1rem;
}

aside {
    width: 300px;
    z-index: 1;
    filter: drop-shadow($shadow);
}

header {
    height: 200px;
    position: relative;
    h1 {
        $fontSize: 5rem;
        position: absolute;
        z-index: 99;
        top: 0;
        left: 1rem;
        font-family: 'Knewave', serif;
        font-weight: 400;
        font-style: normal;
        font-size: $fontSize;
        color: $silver;
        line-height: $fontSize;
        text-shadow: 5px 2px $purple, -8px -2px $pink;
        filter: drop-shadow(3px 3px $black) drop-shadow(-3px -3px $black)
            drop-shadow(1px -1px $black) drop-shadow(-2px 2px $black) drop-shadow(1px 1px $black) drop-shadow(5px 5px 5px rgba($black, .5));
    }
    h2, h3 {
         z-index: 10;
         position: relative;
         background-color: $silver;
         width: fit-content;
         padding: .15rem 1rem .15rem 3rem;
         position: absolute;
         right: 0;
         border: $border;
         border-right: none;
         border-radius: 1rem 0 0 1rem;
    }

    h2 {
        bottom: 3rem;
        font-size: 1.5rem;
    }
    h3 {
        bottom: 1rem;
    }
    .bg {
        $bgDrop: 2rem;
        background-color: $teal;
        border: $border;
        position: relative;
        overflow: hidden;
        top: $bgDrop;
        height: calc(100% - $bgDrop);
        width: 100%;
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
        &::before {
            $dot: radial-gradient(closest-side, #444, #fff 75%);
            $pattern: $dot 0 0 / 14px 14px, $dot 7px 7px / 14px 14px;
            background: $pattern,
                linear-gradient(45deg, #8c8c8c, #bbb 60%, #fff 80%);
            background-blend-mode: multiply;
            filter: contrast(50) blur(2px) contrast(25);
            mix-blend-mode: darken;
        }
        &::after {
            // background-color: #075965;
            background-color: #3411a6;
            mix-blend-mode: lighten;
        }
    }
}

.container {
    margin: 0 auto;
    width: fit-content;
}

.pageWrap {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.panel {
    z-index: 5;
    position: relative;
    margin-bottom: 1rem;
    .title {
        background-color: $teal;
        color: $panelBg;
        text-shadow: 1px 1px $purple;
        padding: .15rem .25rem;
        margin-bottom: .25rem;
    }
    .wrap {
        border: $border;
        background-color: $panelBg;
        padding: 3px;
    }
    .inner {
        border: $border;
        padding: 3px;
        background-color: $white;
        width: 100%;
    }
    &.hasTabs {
        margin-top: -$bw;
    }
}

.panel.nav {
    .title {
        background-color: $purple;
        text-shadow: 1px 1px $black;
    }
}

.panelTabs {
    margin-top: 10px;
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: space-between;
    .title {
        display: flex;
        transform: translateY(2px);
        p {
            background-color: $panelBg;
            padding: 2px 5px;
            width: fit-content;
            border: $border;
            border-right: none;
            border-bottom: none;
            flex-grow: 1;
            padding: 0.25rem 0.5rem 0 0.25rem;
        }
        &::after {
            $grad: 43.5%;
            background: linear-gradient(
                45deg,
                $panelBg $grad,
                $black $grad,
                $black calc($grad + $bw),
                transparent calc($grad + $bw)
            );
        }
    }
    .bottomTab {
        background-color: $panelBg;
        height: 1.5rem;
        flex-grow: 1;
        // margin-top: -15px;
        margin-top: -11px;
        border: $border;
        border-top: none;
        border-left: none;
        height: 21px;
        display: flex;
        max-width: 50%;
        &::before {
            $grad: 40%;
            background: linear-gradient(
                -135deg,
                $panelBg $grad,
                $black $grad,
                $black calc($grad + $bw),
                transparent calc($grad + $bw)
            );
            left: -20px;
            position: absolute;
            height: 29px;
            // margin-top: calc($bw + 1px);
        }
    }
    .title::after,
    .bottomTab::before {
        min-height: 100%;
        width: 20px;
        display: block;
        position: relative;
        content: '';
    }
    .bottomInner {
        margin: 2px 4px 3px -22px;
        max-height: 100%;
        flex-grow: 1;
        z-index: 5;
        background-image: radial-gradient(
            circle at center,
            $teal 50%,
            transparent 0
        );
        $bgSize: 5px;
        background-size: $bgSize $bgSize;
        background-repeat: round;
        position: relative;
        overflow: hidden;
        &::after {
            content: '';
            height: 15px;
            width: 13px;
            position: absolute;
            left: 0;
            top: 0;
            $grad: 45%;
            background: linear-gradient(
                45deg,
                $panelBg $grad,
                transparent $grad
            );
            // background-color: #5e2bff;
        }
    }
}

.right {
    width: 200px;
    .panel {
        .titleBar {
            background-color: $teal;
            color: $white;
            padding: 0.15rem 0.25rem;
            margin-bottom: 0.2rem;
        }
        .wrap {
            display: block;
        }
    }
}

.center {
    width: 500px;
    filter: drop-shadow($shadow);
}

.centerOuter {
    position: relative;
    nav {
        position: absolute;
        height: 20px;
        top: -19px;
        left: 0.5rem;
        right: 0.5rem;
        ul {
            list-style-type: none;
            display: flex;
            gap: 0.5rem;
        }
        li {
            background-color: $silver;
            padding: 0.15rem 0.75rem;
            border: $border;
            border-bottom: none;
            border-radius: 5px 5px 0 0;
            &.active {
                background-color: $panelBg;
                z-index: 99;
            }
        }
    }
}
